
.card {
  padding: 20px;
  .card-header {
    h3.card-title {
      color: #262626;
      margin: 0;
    }
    address {
      color: #888;
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
    }
  }

  .card-body {
  }

  .card-action {
  }
}

// vim:sw=2
