body {
  font-size: 13px;
}

.container-fluid {
  .row {
    padding: 0 30px;

    .col {
      &:first-child { padding-left: 0; }
      &:last-child { padding-right: 0; }
    }
  }
}

main {
  background-color: #e5e5e5;

  .header-bar {
    @extend .row;
    @extend .white-text;

    .btn-navigation-menu {
      @extend .btn-floating;
      //width: 25px;
      //display: inline-block;
      //outline: 0;
      //margin-right: 0.65rem;
      //cursor: pointer;
      //* {
      //  @include pointer-events(none);
      //}
      //i {
      //  vertical-align: middle;
      //  color: darken($white, 10%);
      //  font-size: 23px;
      //}

      //&:hover{
      //  border-radius: 50%;
      //  background-color: rgba(0, 0, 0, .1);
      //  i {
      //    color: $white;
      //  }
      //}
    }

    .module-title {
      @extend h4;
      font-size: $module-title-fontsize;
      line-height: 1.2*$module-title-fontsize;
      margin: ($module-title-fontsize/2) 0 ($module-title-fontsize/2);
      @extend .white-text;
    }

    &.supplier {
      background-color: #4285f4;
    }
  }
}

// Redefine some collection style
.collection-item {
  cursor: pointer;
}

.sidenav {
  .collection {
    border-radius: 3px;
    border-style: solid;
    border-image: none;
    border-width: 0px 1px 2px;
    border-color: #d8d8d8;
  }
}

.content {
  .collection {
    border-style: none;
    background-size: 100% 98px;
    background-image: linear-gradient(#e5e5e5 49px, #eaeaea 49px);
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24); 

    .collection-item {
      background-color: $white;
      border-bottom-style: solid;
      border-bottom-color: #ececec;
      border-bottom-width: 1px;
    }
  }
}

.icon-block {
  padding: 0 15px;
}
