.search-box {
  align-items: center;
  display: flex;
  height: 60px;
  justify-content: flex-end;
  position: relative;
  color: #55555;

  .nbx-input-group {
    border-collapse: separate;
    display: table;
    position: relative;

    .nbx-form-control {
      box-sizing: border-box;
      border-radius: 0;
      border-right-width: 0;
      font-size: 16px;
      height: 30px;
      padding: 4px 8px;
      display: table-cell;
      float: left;
      margin-bottom: 0;
      position: relative;
      width: 100%;
      z-index: 2;
      box-shadow: none;
      background-color: white;
      border: 1px solid rgba(0,0,0,0.15);
      line-height: 1.42857;
      transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

      &:hover {
        border-color: rgba(0,0,0,0.3);
      }

      &:focus {
        box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset;
        border-color: #4285f4;
      }

      &::-moz-placeholder {
        color: #999;
        opacity: 1;
      }
    }

    .nbx-input-group-btn {
      font-size: 0;
      position: relative;
      white-space: nowrap;
      vertical-align: middle;
      width: 1%;
      display: table-cell;

      .nbx-btn {
        font-size: 15px;
        height: 30px;
        padding: 3px 12px;
        width: 60px;
        margin-left: -1px;
        border-radius: 2px;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        position: relative;
        -moz-user-select: none;
        border: 1px solid transparent;
        box-shadow: 0 1px 0 rgba(0,0,0,0.05);
        cursor: default;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        transform-text: none;
        overflow: visible;
        border-color: transparent;
        background-color: #427fed;
        color: $white;
        i {
          font-size: 22px;
          line-height: 24px;
        }

        &:hover,
        &:active {
          background-color: #4e8af5;
        }

        &:hover  {
          box-shadow: 0 -1px 0   #3866ba inset;
        }
        &:active {
          box-shadow: 0  1px 1px #3866ba inset;
          border-color: #3866ba transparent transparent;
        }
      }
    }
  }
}
