nav {
  a.button-collapse {
    display: inline-block;
    height: 56px;
    padding: 15px 0;
    line-height: normal;

    i {
      font-size: 1.6rem;
      &:first-child { padding-right: 15px; }
    }
    .module-title {
      font-size: 20px;
    }

    & i, & .module-title {
      display: inline;
      height: 26px;
      line-height: 26px;
      vertical-align: middle;
    }
  }

  .searchbox {
    @extend .row;
    height: 36px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    margin: 10px 0 0 0;
    padding: 0;

    .search-icon {
      @extend .col;
      @extend .m1;
    }

    .search-input {
      @extend .col;
      @extend .m11;
    }

    input[type="search"] {
      border: none;
      background-color: transparent;
      color: #fff;
      display: block;
      height: 36px;
      padding-right: 10px;
      font-size: 16px;
      margin: 0;

      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
}

.appbar {
  @extend .row;
  margin: 0;
  padding: 0 20px;

  .navbar-header {
    @extend .col;
    @extend .m2;
  }

  .navbar {
    @extend .col;
    @extend .m10;
    @extend .row;
    margin: 0;

    .searchbox {
      @extend .col;
      @extend .m9;
    }

    .toolbox {
      @extend .col;
      @extend .m3;
    }
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  height: 56px;
  line-height: 56px;

  &.supplier {
    background-color: #4285f4;
  }
}

main {
  top: 56px;
  position: relative;
}
