{% macro render_data(label, data) -%}
<div class="info-row">
  <span class="info-label light">{{ label }}</span>
  <span class="info-data">{{ data }}</span>
</div>
{%- endmacro %}

<div class="col s12 m6">
  <div class="card">
    <div class="card-header row">
      <div class="col s3">
        <div class="iconimg">
          <img class="circle responsive-img" src="image/factory.png">
        </div>
      </div>
      <div class="col s9">
        <span class="card-title">{{ name }}</span>
        <div class="info-horizontal secondary-info">
          {% if address|length %}{{ render_data('Dirección', address[0]) }}{% endif %}
          {%- if phone|length %}{{ render_data('Teléfono', phone[0].number) }}{% endif -%}
          {% if email|length %}
          <div class="info-row">
            <span class="info-label light">E-mail</span>
            <span class="info-data"><a href="mailto:{{ email }}">{{ email }}</a></span>
          </div>
          {% endif %}
          {% if payment_term %}{{ render_data('Forma de Pago', payment_term) }}{% endif %}
          {% if fiscal_data %}{{ render_data('CUIT', fiscal_data.cuit) }}{% endif %}
        </div>
      </div>
    </div>
    <div class="card-body">
      <p>Card body</p>
    </div>
  </div>
</div>

{# vim: ft=jinja:sw=2
#}
