{# header region #}
<header>
  <div class="container">
    <div class="main-header">
      <div class="col m2 logo">logo</div>
      <div class="col m10">
        <div class="row">
          <div class="col m7">
            <div class="search-box">
              <div class="nbx-input-group">
                <input class="nbx-form-control" type="text" placeholder="Buscar clientes, proveedores o artículos" name="term">
                <span class="nbx-input-group-btn">
                  <button class="nbx-btn" name="search" type="button">
                    <i class="mdi-action-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col m5">
            <div class="notification-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{# main region #}
<main>
  <div class="container">

    <!-- module-header -->
    <div class="module-header-container"></div>

    <!-- module-selector -->
    <div class="module-selector-container"></div>

    <!-- module-content -->
    <div class="module-content">
      <div id="module-nav-container" class="col m2"></div>
      <div id="content" class="main-content col m10"></div>
    </div>
  </div>
</main>

{# footer region #}
<footer></footer>
