<nav class="appbar row {{ module.name }}" role="navigation">
  <div class="navbar-header col s2">
    <a class="button-collapse" data-activates="module-selector" title="Módulos disponibles" rel="tooltip">
      <i class="mdi-navigation-menu"></i>
      <span class="module-title">{{ module.title }}</span>
    </a>
    <a class="action-back">
      <i class="mdi-navigation-arrow-back"></i>
      <span class="action-back-label">Atrás</span>
    </a>
  </div>
  <div class="navbar col s10">
    <div class="searchbox col s9">
      <div class="search-icon">
        <i class="mdi-action-search"></i>
      </div>
      <div class="search-input">
        <input id="search" type="search" placeholder="Buscar">
      </div>
    </div>
    <div class="toolbox col s3">
      <a class="icon-toggle"><i class="mdi-action-alarm"></i></a>
      <a class="icon-toggle disabled"><i class="mdi-navigation-refresh"></i></a>
      <a class="icon-toggle flat width-search"><i class="mdi-navigation-more-vert"></i></a>
    </div>
  </div>
</nav>

<nav class="selection-context row">
</nav>

<ul id="module-selector" class="side-nav">
  {% for module in modules %}
  <li class="module-name {{ module.name }}">
    <a href="#{{ module.name }}">
      <i class="{{ module.icon }}"></i>
      <span>{{ module.title }}</span>
    </a>
  </li>
  {% endfor %}
</ul>
{# vim: ft=jinja:sw=2
#}
