<div class="selection-context">
  <div class="col m2">
    <a class="icon-toggle button-back action-back" data-tooltip="Cancelar selección">
      <i class="mdi-navigation-arrow-back"></i>
    </a>
    <a class="module-title action-back" data-tooltip="Cancelar selección">Atrás</a>
    </a>
  </div>
  <div class="col m10">
    <div class="row">
      <div class="info-bar">
        <span class="selected-count-data">0</span> seleccionado(s) <a class="change-selection" data-position="bottom" data-tooltip="Cambiar Seleción"><i class="mdi-navigation-arrow-drop-down"></i></a>
      </div>
      <div class="action-bar">
        <a id="action-delete" class="icon-toggle" data-tooltip="Eliminar"><i class="mdi-action-delete"></i></a>
        <a id="action-more" class="icon-toggle" data-tooltip="Más acciones"><i class="mdi-navigation-more-vert"></i></a>
      </div>
    </div>
  </div>
</div>
